.App {
  text-align: center;
}

.App-header {
  background-color: #fff;
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  margin-top: 0.5em;
  justify-content: center;
  font-size: calc(10px + 8vmin);
  line-height: 1em;
  font-family: "Pt-Serif";
  color: rgba(0, 0, 0, 0.8);
}

svg {
  font-family: "Arimo";
  letter-spacing: 0.5px;
}

button {
  font-size: 0.4em;
  line-height: 1em;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 4px 8px 4px 8px;
  background-color: transparent;
  border: solid 1px rgba(0, 0, 0, 0.8);
  transition: all 300ms;
}

button:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.1);
}

button.left {
  border-radius: 4px 0px 0px 4px;
}
button.middle {
  border-radius: 0px;
  border-left: none;
}
button.right {
  border-radius: 0px 4px 4px 0px;
  border-left: none;
}

button.active {
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
}

#tooltip {
  position: absolute;
  z-index: 100;
  background-color: white;
  border: solid 1px black;
  padding: 8px;
  font-size: 12px;
  line-height: 1.2em;
  pointer-events: none;
  transition: all 300ms;
}

.legend {
  font-size: 0.5em;
  line-height: 1.6em;
}

.paragraph {
  display: flex;
  text-align: left;
  max-width: 800px;
}
