h2 {
  font-size: 1em;
}

h3 {
  font-size: 0.6em;
  line-height: 1.2em;
  margin-bottom: 2em;
}

figcaption {
  max-width: 1000px;
  margin-top: 3em;
  font-size: 0.6em;
  color: rgba(0, 0, 0, 0.6);
  line-height: 1.2em;
  white-space: pre-line;
}

figure {
  text-align: -webkit-center;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  margin-top: 1em;
  justify-content: center;
  font-size: calc(10px + 8vmin);
  line-height: 1em;
  font-family: "Pt-Serif";
  color: rgba(0, 0, 0, 0.8);
}

.caption {
  display: flex;
  justify-content: center;
  font-size: 0.8em;
  line-height: 1.2em;
  margin-top: 2em;
  color: rgba(0, 0, 0, 0.6);
}

svg {
  font-family: "PT-Sans";
  font-size: 0.5em;
  overflow: visible;
}

circle {
  transition: fill 300ms;
}

button {
  font-size: 0.4em;
  line-height: 1em;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 4px 8px 4px 8px;
  background-color: transparent;
  border: solid 1px rgba(0, 0, 0, 0.8);
  transition: all 300ms;
}

button:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.1);
}

button:focus {
  outline: none;
}

button.left {
  border-radius: 4px 0px 0px 4px;
}
button.middle {
  border-radius: 0px;
  border-left: none;
}
button.right {
  border-radius: 0px 4px 4px 0px;
  border-left: none;
}

button.active {
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
}

#tooltip {
  position: absolute;
  z-index: 100;
  background-color: transparent;
  /* border: solid 1px black; */
  /* padding: 8px; */
  font-size: 18px;
  line-height: 1.4em;
  pointer-events: none;
  transition: all 300ms;
}

#tooltip span {
  background-color: white;
  padding: 6px 8px 6px 8px;
  color: rgba(0, 0, 0, 0.8);
}

#tooltip .positive span {
  background-color: black;
  color: white;
}

#tooltip .negative span {
  background-color: #ee4444;
  color: white;
}

.legend {
  font-size: 0.5em;
  line-height: 1.6em;
}

.paragraph {
  display: flex;
  text-align: left;
  max-width: 800px;
}

.loading {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  font-size: 0.6em;
  color: rgba(0, 0, 0, 0.8);
}

.chartContainer {
  margin-top: 1em;
  margin-bottom: 1em;
}

li {
  margin-top: 0.5em;
}

textarea:focus,
input:focus {
  outline: none;
}
