@font-face {
  font-family: "Pt-Serif";
  src: local("Serif"), url(./fonts/PTSerif-Regular.ttf) format("ttf");
}

@font-face {
  font-family: "Arimo";
  src: local("Arimo"), url(./fonts/Arimo-VariableFont_wght.ttf) format("woff2");
}

body {
  margin: 0;
  padding-left: 100px;
  padding-right: 100px;
  padding-bottom: 100px;
  font-size: 1.8em;
  line-height: 1.4em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
